:root {
    --primary-color: #055a05;
    /*forest green */
    --secondary-color: #f4a261;
    /*warm sand */
    --accent1-color: #264653;
    /* dark slate blue*/
    --accent2-color: #e9c46a;
    /* light golden yellow*/
    --heading-font: "Time New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 940px;
    margin: 0 auto;
}

/*this tackles header, main and footer by using a comma*/

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: grid;
    /* align-items: center; */
    grid-template-columns: 2r 1fr 2fr;

}

.history h2 {
    grid-column: 2/3;
    grid-row: 1;
    text-align: center;
    /* background-color: var(--accent1-color);
    color: #fff; */
}

.history img {
    grid-column: 2/3;
    grid-row: 1;
    width: 20rem;
    height: 15rem;
    margin-top: 30px;
    align-items: center;
    /* position: absolute; */

}

.history p:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1;

}

.history p:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1;

}

.history p:nth-of-type(3) {
    grid-column: 3/4;
    grid-row: span 2;
}

.adventure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;

}

.adventure h2 {
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 10px;
    width: 100%;

}

.adventure figure {
    text-align: center;
    margin: 0;
    flex: 1 1 150px;
}

.adventure figure img {
    width: 10rem;
    height: auto;
    display: block;
}

.adventure figcaption {
    margin-top: 5px;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 150px auto;
    margin: 1rem auto;
    border-bottom: 1px solid #ccc;
}

header img {
    width: 8rem;
}

.navigation {
    display: flex;
    list-style: none;
    justify-self: space-evenly;
}

.navigation a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    display: block;
    padding: 5px;

}

.navigation a:hover {
    /* text-decoration: underline; */
    color: blue;
    background-color: antiquewhite;

}

.navigation li {
    flex: 1 1 auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    z-index: 2;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: var(--accent1-color);
    color: #fff;
    padding: 16px;
    opacity: 0.8;
    z-index: 2;
}

.hero article img {
    float: right;
    width: 200px;
    margin: auto;
    border: 1px solid var(--secondary-color);
}

.socialmedia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
}

.socialmedia img {
    width: 30px;
    /* height: auto; */
}

.hero article p span {
    color: var(--accent2-color);
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px dotted #333;
    text-align: center;
    font-size: small;

}