body {
    font-family: Arial, Helvetica, sans-serif
}

header {
    background-color: black;
    color: darkgrey;
    padding: 3px;
    text-align: center;
    font-size: 1.75em;
}

main h1 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 15px;
}

main {
    margin: 0 auto;
    max-width: 300px;
}

main img {
    width: 100%;
    box-shadow: 0 0 39px darkgray;

}

main section {
    background-color: lightgray;
    padding: 10px;
    margin: 15px 0;
}

section h2 {
    margin-top: 5px;
    border-bottom: 1px solid black;
}

section ul {
    padding-left: 10px;
}

footer {
    background-color: black;
    color: darkgray;
    font-size: 1em;
    padding: 1px;
    text-align: center;

}